<!DOCTYPE html>
<html lang="en">

<html>
	<head>
		<title>Add Property</title>
		<center><h1>Add New Property</h1></center>
	</head>


	<body>
		<center><form>
		<p>Property Name*: <input type="text" id="propertyName"></p>
		<p>Street Address*: <input type="text" id="streetAddress"></p>
		<p>City*: <input type="textb" id="city"> 
			Zip*: <input type="text" id="zip">
			Acres*:<input type="text" id="acres"></p>
		<p>Property Type*: <select id="propertyType" onChange="check()">
		  	<option id="farm">Farm</option>
		 	<option id="garden">Garden</option>
		  	<option id="orchard">Orchard</option>
		</select> 
		<label id="animalLabel">Animal*:</label><select id="animalType">
			<option value="" selected disabled hidden>Select...</option>
		  	<option value="Cow">Cow</option>
		 	<option value="Horse">Horse</option>
		  	<option value="Pig">Pig</option>
		  	<option value="Sheep">Sheep</option>
		  	<option value="Goat">Goat</option>
		  	<option value="Chicken">Chicken</option>
		</select>
		Crop*: <select>
			<option value="" selected disabled hidden>Select...</option>
		  	<option value="Fruits">Fruits</option>
		 	<option value="Vegetables">Vegetables</option>
		  	<option value="Nuts">Nuts</option>
		  	<option value="Flowers">Flowers</option>
		</select>
		</p>
		<p>	
		Public?*: <select id="isPublic">
		  	<option value="publicYes">yes</option>
		 	<option value="publicNo">no</option>
		</select></p>
		<p>
		Commercial?*: <select id="isCommercial">
		  	<option value="commercialYes">yes</option>
		 	<option value="commercialNo">no</option>
		</select></p>
		<p><button id="addProperty" type="button" onclick="add()">Add Property</button>
		<button id="cancel" type="button" onclick="goBack()">Cancel</button></p>
		</form></center>


		<script>
			function check() {
			    var value = document.getElementById("propertyType").value;
			    
			    
			    if (value == "garden") {
			        document.getElementById("animalType").style.display = "none";
			        document.getElementById("animalLabel").innerHTML = "";
			    } else {
			    	document.getElementById("animalLabel").innerHTML = "Animals:*:"
			    	document.getElementById("animalType").style.display = "block"
			    }
			    
			    
			}

			function goBack() {
				location.href='/';
			}
		</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

		<script type="text/javascript">
			function add() {
			
				var public = '0';
				if (document.getElementById('isPublic').value == 'yes') {
					public = '1';
				}
				var commercial = '0';
				if (document.getElementById('isCommercial').value == 'yes') {
					commercial = '1';
				}
				console.log('adding');
				var dic = {
					'propertyName': document.getElementById('propertyName').value,
					'isPublic': public,
					'size': document.getElementById('acres').value,
					'isCommercial': commercial,
					'streetAddress': document.getElementById('streetAddress').value,
					'city': document.getElementById('city').value,
					'zip': document.getElementById('zip').value,
					'propertyType': document.getElementById('propertyType').value,
				};
				console.log(dic);

			    $.ajax({    //create an ajax request to display.php
			      	
			        type: "POST",
			        url: "http://localhost:5000/add_property",  
			        data: JSON.stringify(dic),
			        contentType: "application/json;charset=utf-8",       
			        dataType: "text",
			        success: function() {
			        	console.log("add property")
			        }               
		        
	    

		    });
			location.href= '/';
		}
</script>
	</body>