<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

	<script type="text/javascript">

	$(document).ready(function() {
		var dic = {
			'sort_by':"propertyName",
			'order':'asc'
		}

      $.ajax({    //create an ajax request to display.php

        type: "POST",
        url: "http://localhost:5000/get_other_user_properties",  
        data: JSON.stringify(dic),
        contentType: "application/json;charset=utf-8",       
        dataType: "text",   //expect html to be returned                
        success: function(response){                    
            $("#responsecontainer").html(response); 
            alert(response);
        },
        complete: function(response){                    
            $("#responsecontainer").html(response); 
            console.log(response.responseText);
           	var j = JSON.parse(response.responseText);
            var trHTML = '';
            alert(response);
            $.each(j, function(i, item) {
            	
            	console.log(item);
    			$('<tr>').html(
        		"<td>" + item.name + "</td><td>" + item.type + "</td>").appendTo('#approvedAnimalsCropsTable');
			});
			
       		
        	}

	    });
	});
</script>
	<head>
		<title>Approved Crops</title>
		<style type="text/css">
			.type {
				float: left;
				margin-left: 20px;
				z-index: 1;
			}
			.search {
				float: left;
				margin-left: 100px;
				z-index: 1;
			}

			.adminActions {
				float: left;
				margin-left: 100px;
				z-index: 2;
			}
		</style>
	</head>

	<body>
		<center><h2>Approved Animals/Crops</h2></center>
		<br>
		<center><table id="approvedAnimalsCropsTable" border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
				</tr>
			</thead>
		</table></center>
		<br>
		<div class="type">
			<center><p><select>
				<option selected>Animal</option>
				<option value="fruit">Fruit</option>
				<option value="nut">Nut</option>
				<option value="flower">Flower</option>
				<option value="vegetable">Vegetable</option>
			</select></p>
			<p><input type="text" name="typeInput" placeholder="Enter Name"></p>
			<p><button id="addToApprovedListButton" type="button">Add to Approved List</button></p></center>
		</div>
		<br>
		<div class="adminActions">
			<center><p><button id="deleteSelectionButton" type="button">Delete selection</button></p>
			<p><button id="back" type="button">Back</button></p></center>
			<script type="text/javascript">
				document.getElementById('back').onclick = function() {
					location.href="HomescreenAdmin.html";
				};
			</script>
		</div>
		<div class="search">
			<center><p><select>
				<option selected>Search by...</option>
				<option value="propertyName">Name</option>
				<option value="city">City</option>
				<option value="propertyType">Type</option>
				<option value="visits">Visits</option>
			</select></p>
			<p><input type="text" name="searchInput" placeholder="Search Term"></p>
			<p><button id="searchPropertiesButton" type="button">Search Properties</button></p></center>
		</div>
	</body>

</html>