<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

	<script type="text/javascript">

	$(document).ready(function() {
		var dic = {
			'sort_by':"propertyName",
			'order':'asc'
		}

      $.ajax({    //create an ajax request to display.php

        type: "POST",
        url: "http://localhost:5000/get_other_user_properties",  
        data: JSON.stringify(dic),
        contentType: "application/json;charset=utf-8",       
        dataType: "text",   //expect html to be returned                
        success: function(response){                    
            $("#responsecontainer").html(response); 
        },
        complete: function(response){                    
            $("#responsecontainer").html(response); 
            console.log(response.responseText);
           	var j = JSON.parse(response.responseText);
            var trHTML = '';
            $.each(j, function(i, item) {
            	
            	console.log(item);
    			$('<tr>').html(
        		"<td>" + item.propertyName + "</td><td>" + item.streetAddress + "</td><td>" + item.city + "</td><td>" + item.zip + "</td><td>" + item.size + "</td><td>" + item.propertyType + "</td><td>" + item.isPublic + "</td><td>" + item.isCommercial + "</td><td>" + item.id + "</td><td>" + item.owner + "</td>").appendTo('#confirmedPropertiesTable');
			});
			
       		
        	}

	    });
	});
</script>
	<head>
		<title>Confirmed Properties</title>
		<style type="text/css">
			.search {
				float: left;
				margin-left: 20px;
			}

			.adminActions {
				float: left;
				margin-left: 100px;
			}

			.back {
				float: left;
				margin-left: 100px;
			}
		</style>
	</head>

	<body>
		<center><h2>Confirmed Properties:</h2></center>
		<br>
		<center><table id="confirmedPropertiesTable" border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Zip</th>
					<th>Size</th>
					<th>Type</th>
					<th>Public</th>
					<th>Commerical</th>
					<th>ID</th>
					<th>Verified by</th>
					<th>Avg. Rating</th>
				</tr>
			</thead>
		</table></center>
		<br>
		<div class="search">
			<center><p><select id="searchPropertiesDropdown">
				<option selected>Search by...</option>
				<option value="propertyName">Name</option>
				<option value="zip">Zip</option>
				<option value="propertyType">Type</option>
				<option value="approvedBy">Verified By</option>
				<option value="avgRating">Average Rating</option>
			</select></p></center>
			<p><input type="text" id="searchInput" placeholder="Search Term"></p>
			<p><button id="searchPropertiesButton" type="button" onclick="searchProperty()">Search Properties</button></p>
		</div>
		<div class="adminActions">
			<p><button id="manageSelectedPropertyButton" type="button">Manage Selected Property</button></p>
		</div>
		<div class="back">
			<p><button id="back" type="button">Back</button></p>
			<script type="text/javascript">
				document.getElementById('back').onclick = function() {
					location.href="HomescreenAdmin.html";
				};
			</script>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
		<script type="text/javascript">
		function searchProperty() {
				var selectedType = $('select[id=searchPropertiesDropdown]').val();
				var searchTerm = document.getElementById('searchInput').value;
				console.log(selectedType);
				console.log(searchTerm);
				var items = [];
				$('#confirmedPropertiesTable tbody tr td:nth-child(9)').each( function(){
	   				//add item to array
	   				console.log("HOLLA ATCHA");
	   				items.push( $(this).text() );       
				});
				console.log(items);
				var search_info = {
					attribute: selectedType,
					value: searchTerm,
					sort_by: selectedType,
					order: "asc"
				};
				$.ajax({
					type: "POST",
					url: "http://localhost:5000/get_properties_from_attribute",
				    data: JSON.stringify(search_info),
				    //async: false,
				    contentType: "application/json;charset=utf-8",
				    dataType: "text",
				    success: function(text) {
				        console.log("yay");
				        console.log(text);
				        // response = text;
				        // console.log(response);
				    },
				    complete: function(response) {
				        $("#resp onsecontainer").html(response);
			            console.log(response.responseText)
			           	var j = JSON.parse(response.responseText);
			            var trHTML = '';

			            $.each(j, function(i, item) {
			            	var isPublic = "False";
			            	var isCommercial = "False";
			            	if (item.isPublic == "\u0001") {
			            		isPublic = "True";
			            	}
			            	if (item.isCommercial == "\u0001") {
			            		isCommercial = "True";
			            	}
			            	if (jQuery.inArray(String(item.id), items) !== -1) {
								$('<tr>').html(
			        		"<td>" + item.propertyName + "</td><td>" + item.streetAddress + "</td><td>" + item.city + "</td><td>" + item.zip + "</td><td>" + item.size + "</td><td>" + item.propertyType + "</td><td>" + isPublic + "</td><td>" + isCommercial + "</td><td>" + item.id + "</td><td>" + item.isApproved + "</td><td>" + item.visits + "</td><td>" + item.ratings + "</td>").appendTo('#confirmedPropertiesTable');

							}
						});
				    }
				});
			}
		</script>
	</body>

</html>