<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

	<script type="text/javascript">

	$(document).ready(function() {
		var dic = {
			'sort_by':"propertyName",
			'order':'asc'
		}

      $.ajax({    //create an ajax request to display.php

        type: "POST",
        url: "http://localhost:5000/get_other_user_properties",  
        data: JSON.stringify(dic),
        contentType: "application/json;charset=utf-8",       
        dataType: "text",   //expect html to be returned                
        success: function(response){                    
            $("#responsecontainer").html(response); 
            alert(response);
        },
        complete: function(response){                    
            $("#responsecontainer").html(response); 
            console.log(response.responseText);
           	var j = JSON.parse(response.responseText);
            var trHTML = '';
            alert(response);
            $.each(j, function(i, item) {
            	
            	console.log(item);
    			$('<tr>').html(
        		"<td>" + item.propertyName + "</td><td>" + item.streetAddress + "</td><td>" + item.city + "</td><td>" + item.zip + "</td><td>" + item.size + "</td><td>" + item.propertyType + "</td><td>" + item.isPublic + "</td><td>" + item.isCommercial + "</td><td>" + item.id + "</td><td>" + item.owner + "</td>").appendTo('#confirmedPropertiesTable');
			});
			
       		
        	}

	    });
	});
</script>
	<head>
		<title>Confirmed Properties</title>
		<style type="text/css">
			.search {
				float: left;
				margin-left: 20px;
			}

			.adminActions {
				float: left;
				margin-left: 100px;
			}

			.back {
				float: left;
				margin-left: 100px;
			}
		</style>
	</head>

	<body>
		<center><h2>Confirmed Properties:</h2></center>
		<br>
		<center><table id="confirmedPropertiesTable" border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Zip</th>
					<th>Size</th>
					<th>Type</th>
					<th>Public</th>
					<th>Commerical</th>
					<th>ID</th>
					<th>Verified by</th>
					<th>Avg. Rating</th>
				</tr>
			</thead>
		</table></center>
		<br>
		<div class="search">
			<center><p><select>
				<option selected>Search by...</option>
				<option value="propertyName">Name</option>
				<option value="city">City</option>
				<option value="propertyType">Type</option>
				<option value="visits">Visits</option>
			</select></p></center>
			<p><input type="text" name="searchInput" placeholder="Search Term"></p>
			<p><button id="searchPropertiesButton" type="button">Search Properties</button></p>
		</div>
		<div class="adminActions">
			<p><button id="manageSelectedPropertyButton" type="button">Manage Selected Property</button></p>
		</div>
		<div class="back">
			<p><button id="back" type="button">Back</button></p>
			<script type="text/javascript">
				document.getElementById('back').onclick = function() {
					location.href="/";
				};
			</script>
		</div>
	</body>

</html>