<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

	<script type="text/javascript">

	$(document).ready(function() {
		var dic = {
			'sort_by':"propertyName",
			'order':'asc'
		}

      $.ajax({    //create an ajax request to display.php

        type: "POST",
        url: "http://localhost:5000/get_user_properties",  
        data: JSON.stringify(dic),
        contentType: "application/json;charset=utf-8",       
        dataType: "text",   //expect html to be returned                
        success: function(response){                    
            $("#responsecontainer").html(response); 
            
        },
        complete: function(response){                    
            $("#responsecontainer").html(response); 
            
           	var j = JSON.parse(response.responseText);
            var trHTML = '';
            
            $.each(j, function(i, item) {
            	var isPublic = "False";
            	var isCommercial = "False";
            	if (item.isPublic == "\u0001") {
            		isPublic = "True";
            	}
            	if (item.isCommercial == "\u0001") {
            		isCommercial = "True";
            	}
            	
    			$('<tr>').html(
        		"<td>" + item.propertyName + "</td><td>" + item.streetAddress + "</td><td>" + item.city + "</td><td>" + item.zip + "</td><td>" + item.size + "</td><td>" + item.propertyType + "</td><td>" + isPublic + "</td><td>" + isCommercial + "</td><td>" + item.id + "</td><td>" + item.isApproved + "</td><td>" + item.visits + "</td><td>" + item.ratings + "</td>").appendTo('#homescreenOwnerTable');
			});
			
       		
        	}

	    });
	});

</script>
<html>


	<head>
		<title>Manage Property</title>
		<center><h1>Manage ______</h1></center>
	</head>


	<body>
		<center><form>
		<p>Name: <input type="text" name="gardenName"><label id="type">Type:</label></p>
		<p>Address<input type="text" name="gardenAddress">
			Public:<select>
			<option value="publicTrue">True</option>
			<option value="publicFalse">False</option>
		</select>
		</p>
		<p>City: <input type="text" name="city"> 
			Commercial:<select>
			<option value="commercialTrue">True</option>
			<option value="commercialFalse">False</option>
		</select></p>
		<p>zip: <input type="text" name="zip">ID</p>
		<p>Size(acres):<input type="text" name="acres"></p>
		<p>Add new crop:<select id="cropList">
			<option value="" selected disabled hidden>Select Approved Crop</option>
		  	<option value="Brocolli">Brocolli</option>
		 	<option value="Peppers">Peppers</option>
		 	<option value="Corn">Corn</option>

		</select> Crops:<select id="addedCrops"></select></p>
		<p><button id="addCropButton" type="button" onclick="addCrop()">Add Crop to Property</button><button id="removeCropButton" type="button" onclick="removeCrop()">Remove Crop</button></p>
		<p>Request crop approval:<input type="text" name="cropApproval"><select id="approvedCrops">
			<option value="" selected disabled hidden>New Crop Type</option>
			<option value = "Corn">Corn</option>
		</select></p>

		<p><button id="submitRequest" type="button">Submit Request</button></p>
		<p><button id="saveChanges" type="button">Save Changes</button></p>
		<p><button id="deletePropertyButton" type="button">Delete Property</button>
		<button id="backButtton" type="button" onclick="goBack()">Back (Don't Save)</button></p>
		</form></center>
		<script>
			function addCrop() {
				var x = document.getElementById("cropList").value;
				var m = document.getElementById("addedCrops");
				var option = document.createElement("option");
				option.text = x;
				m.add(option);
			
			}

			function removeCrop() {
				var x = document.getElementById("addedCrops");
				x.remove(x.selectedIndex);
			}

			function goBack() {
				location.href = '/';
			}
		
		</script>
	</body>
</html>