<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

	<script type="text/javascript">

	$(document).ready(function() {
		/*var dic = {
			'sort_by':"propertyName",
			'order':'asc'
		} */
		console.log()
		var dic = {
			'id':sessionStorage.getItem('id')
		}

      $.ajax({    //create an ajax request to display.php

        type: "POST",
        url: "http://localhost:5000/get_property_by_id",  
        data: JSON.stringify(dic),
        contentType: "application/json;charset=utf-8",       
        dataType: "text",   //expect html to be returned                
        success: function(response){                    
            $("#responsecontainer").html(response); 
            
        },
        complete: function(response){                    
            $("#responsecontainer").html(response); 
            console.log(response.responseText);
           	var j = JSON.parse(response.responseText);
            var trHTML = '';
            
            j = j[0];

        	document.getElementById('title').innerHTML = "Manage " + j['propertyName'];
        	document.getElementById('gardenName').value = j['propertyName'];
    		document.getElementById('type').innerHTML = "Type: " + j['propertyType'];
    		document.getElementById('address').value = j['streetAddress'];
    		document.getElementById('city').value = j['city'];
    		var public = j['isPublic'];
    		if (public == '\u0001') {
    			document.getElementById('public').value = "publicTrue";
    		} else {
    			document.getElementById('public').value = "publicFalse";
			
       		}
       		var commercial = j['isCommercial'];
    		if (commercial == '\u0001') {
    			document.getElementById('commercial').value = "commercialTrue";
    		} else {
    			document.getElementById('commercial').value = "commercialFalse";
			
       		}
       		document.getElementById('zip').value = j['zip'];
       		document.getElementById('userID').innerHTML = "ID: " + j['id']
       		document.getElementById('size').value = j['size'];
        	}

	    });
	});

</script>
<html>


	<head>
		<title>Manage Property</title>
		<center><h1 id="title"></h1></center>
	</head>


	<body>
		<center><form>
		<p>Name: <input type="text" name="gardenName" id="gardenName"><label id="type">Type:</label></p>
		<p>Address<input type="text" name="gardenAddress" id="address">
			Public:<select id='public'>
			<option value="publicTrue">True</option>
			<option value="publicFalse">False</option>
		</select>
		</p>
		<p>City: <input type="text" name="city" id="city"> 
			Commercial:<select id="commercial">
			<option value="commercialTrue">True</option>
			<option value="commercialFalse">False</option>
		</select></p>
		<p>zip: <input type="text" name="zip" id='zip'><label id="userID">ID</label></p>
		<p>Size(acres):<input type="text" name="acres" id='size'></p>
		<p>Add new crop:<select id="cropList">
			<option value="" selected disabled hidden>Select Approved Crop</option>
		  	<option value="Brocolli">Brocolli</option>
		 	<option value="Peppers">Peppers</option>
		 	<option value="Corn">Corn</option>

		</select> Crops:<select id="addedCrops"></select></p>
		<p><button id="addCropButton" type="button" onclick="addCrop()">Add Crop to Property</button><button id="removeCropButton" type="button" onclick="removeCrop()">Remove Crop</button></p>
		<p>Request crop approval:<input type="text" name="cropApproval"><select id="approvedCrops">
			<option value="" selected disabled hidden>New Crop Type</option>
			<option value = "Corn">Corn</option>
		</select></p>

		<p><button id="submitRequest" type="button">Submit Request</button></p>
		<p><button id="saveChanges" type="button">Save Changes</button></p>
		<p><button id="deletePropertyButton" type="button" onclick="deleteProperty()">Delete Property</button>
		<button id="backButtton" type="button" onclick="goBack()">Back (Don't Save)</button></p>
		</form></center>
		<script>
			function addCrop() {
				var x = document.getElementById("cropList").value;
				var m = document.getElementById("addedCrops");
				var option = document.createElement("option");
				option.text = x;
				m.add(option);
			
			}

			function removeCrop() {
				var x = document.getElementById("addedCrops");
				x.remove(x.selectedIndex);
			}

			function goBack() {
				location.href = '/';
			}

		
		</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
		<script type="text/javascript">
			function deleteProperty() {
				var dic = {'id':sessionStorage.getItem('id')};
				$.ajax({    //create an ajax request to display.php

		        type: "POST",
		        url: "http://localhost:5000/delete_property",  
		        data: JSON.stringify(dic),
		        contentType: "application/json;charset=utf-8",       
		        dataType: "text",   //expect html to be returned                
		        success: function(response){                    
		            $("#responsecontainer").html(response); 
		            location.href = '/';
		        },
		        complete: function(response){                    
		            $("#responsecontainer").html(response); 
		            
		        
		            location.href = '/';
		        }
			    });
				}
	</script>
	</body>
</html>