<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Owners List</title>
		<style type="text/css">
			.search {
				float: left;
				margin-left: 20px;
			}

			.adminActions {
				float: left;
				margin-left: 100px;
			}
		</style>
	</head>

	<body>
		<center><h2>All Owners in System</h2></center>
		<br>
		<center><table border="1">
			<thead>
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Number of Properties</th>
				</tr>
			</thead>
		</table></center>
		<br>
		<div class="adminActions">
			<center><p><button id="deleteOwnerAccountButton" type="button">Delete Owner Account</button></p>
			<p><button id="back" type="button">Back</button></p></center>
			<script type="text/javascript">
				document.getElementById('back').onclick = function() {
					location.href="HomescreenAdmin.html";
				};
			</script>
		</div>
		<div class="search">
			<center><p><select>
				<option selected>Search by...</option>
				<option value="propertyName">Name</option>
				<option value="city">City</option>
				<option value="propertyType">Type</option>
				<option value="visits">Visits</option>
			</select></p>
			<p><input type="text" name="searchInput" placeholder="Search Term"></p>
			<p><button id="searchPropertiesButton" type="button">Search Properties</button></p></center>
		</div>
	</body>

</html>