<!DOCTYPE html>
<html lang="en">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>

	<script type="text/javascript">

	$(document).ready(function() {
		var dic = {
			'sort_by':"propertyName",
			'order':'asc'
		}

      $.ajax({    //create an ajax request to display.php

        type: "GET",
        url: "http://localhost:5000/get_all_users",
        dataType: "text",   //expect html to be returned
        success: function(response){
            $("#responsecontainer").html(response);
            //alert(response);
        },
        complete: function(response){
            $("#responsecontainer").html(response);
            console.log(response.responseText);
           	var j = JSON.parse(response.responseText);
            var trHTML = '';
            //alert(response);
            $.each(j, function(i, item) {

            	console.log(item);
    			$('<tr>').html(
        		"<td>" + item.username + "</td><td>" + item.email + "</td><td>" + item.propertyNum + "</td>").appendTo('#viewOwnersListTable');
			});


        	}

	    });
	});
</script>
	<head>
		<title>Owners List</title>
		<style type="text/css">
			.search {
				float: left;
				margin-left: 20px;
			}

			.adminActions {
				float: left;
				margin-left: 100px;
			}
            .selected {
				background-color: magenta;
				color: #FFF;
			}
		</style>
	</head>

	<body>
		<center><h2>All Owners in System</h2></center>
		<br>
		<center><table id="viewOwnersListTable" border="1">
			<thead>
				<tr>
					<th>Username <button id="usernameAsc"> &#9650</button> <button id="usernameDsc"> &#9660</button></th>
					<th>Email <button id="emailAsc"> &#9650</button> <button id="emailDsc"> &#9660</button></th>
					<th>Number of Properties <button id="numAsc"> &#9650</button> <button id="numDsc"> &#9660</button></th>
				</tr>
			</thead>
		</table></center>
		<br>
		<div class="adminActions">
			<center><p><button id="deleteOwnerAccountButton" type="button">Delete Owner Account</button></p>
                <script type="text/javascript">
    				document.getElementById('deleteOwnerAccountButton').onclick = function() {
                        var selEmail = $("#viewOwnersListTable tr.selected td").eq(1).html();
                        console.log(selEmail);
                        var user_info = {
                            email: selEmail,
                        }
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:5000/remove_user",
                            data: JSON.stringify(user_info),
                            //async: false,
                            contentType: "application/json;charset=utf-8",
                            dataType: "text",
                            success: function(text) {
                                console.log("yay");
                                console.log(text);
                                location.href="/ViewOwnersListScreen"
                            },
                            complete: function(msg) {
                                console.log(msg)
                            }
                        });
    				};
    			</script>
			<p><button id="back" type="button">Back</button></p></center>
			<script type="text/javascript">
				document.getElementById('back').onclick = function() {
					location.href="/HomescreenAdmin";
				};
			</script>
		</div>
		<div class="search">
			<center><p><select>
				<option selected>Search by...</option>
				<option value="propertyName">Name</option>
				<option value="city">City</option>
				<option value="propertyType">Type</option>
				<option value="visits">Visits</option>
			</select></p>
			<p><input type="text" name="searchInput" placeholder="Search Term"></p>
			<p><button id="searchPropertiesButton" type="button">Search Properties</button></p></center>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">		</script>
		<script type="text/javascript">
			var index;
			$("button").click(function() {
				if (this.id == "usernameAsc") {
					index = 0;
					console.log(index);
					sortAsc(index);
				} else if (this.id == "emailAsc") {
					index = 1;
					console.log(index);
					sortAsc(index);
				} else if (this.id == "numAsc") {
					index = 2;
					console.log(index);
					sortAsc(index);
				} else if (this.id == "usernameDsc") {
					index = 0;
					console.log(index);
					sortDsc(index);
				} else if (this.id == "emailDsc") {
					index = 1;
					console.log(index);
					sortDsc(index);
				} else if (this.id == "numDsc") {
					index = 2;
					console.log(index);
					sortDsc(index);
				}
			});

			function sortAsc(index) {
				console.log("sort button clicked");
				var table, rows, switching, i, x, y, shouldSwitch;
				table = document.getElementById("viewOwnersListTable");
				switching = true;
				/*Make a loop that will continue until
				no switching has been done:*/
				while (switching) {
					//start by saying: no switching is done:
					switching = false;
					rows = table.getElementsByTagName("TR");
					/*Loop through all table rows (except the
					first, which contains table headers):*/
					for (i = 1; i < (rows.length - 1); i++) {
						//start by saying there should be no switching:
						shouldSwitch = false;
						/*Get the two elements you want to compare,
						one from current row and one from the next:*/
						x = rows[i].getElementsByTagName("TD")[index];
						y = rows[i + 1].getElementsByTagName("TD")[index];
						//check if the two rows should switch place:
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							//if so, mark as a switch and break the loop:
							shouldSwitch= true;
							break;
						}
					}
					if (shouldSwitch) {
						/*If a switch has been marked, make the switch
						and mark that a switch has been done:*/
						rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
						switching = true;
					}
				}
			}

			function sortDsc(index) {
				console.log("sort button clicked");
				var table, rows, switching, i, x, y, shouldSwitch;
				table = document.getElementById("viewOwnersListTable");
				switching = true;
				/*Make a loop that will continue until
				no switching has been done:*/
				while (switching) {
					//start by saying: no switching is done:
					switching = false;
					rows = table.getElementsByTagName("TR");
					/*Loop through all table rows (except the
					first, which contains table headers):*/
					for (i = 1; i < (rows.length - 1); i++) {
						//start by saying there should be no switching:
						shouldSwitch = false;
						/*Get the two elements you want to compare,
						one from current row and one from the next:*/
						x = rows[i].getElementsByTagName("TD")[index];
						y = rows[i + 1].getElementsByTagName("TD")[index];
						//check if the two rows should switch place:
						if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
							//if so, mark as a switch and break the loop:
							shouldSwitch= true;
							break;
						}
					}
					if (shouldSwitch) {
						/*If a switch has been marked, make the switch
						and mark that a switch has been done:*/
						rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
						switching = true;
					}
				}
			}

            var table = document.getElementById('viewOwnersListTable');
			var selected = document.getElementsByClassName('selected');
			table.onclick = highlight;

			function highlight(e) {
				if (selected[0]) {
					selected[0].className = '';
				}
				e.target.parentNode.className = 'selected';
			}

		</script>
	</body>

</html>
