<!DOCTYPE html>
<html lang="en">

<html>
	<head>
		<title>Your Visit History</title>
		<center><h1>Your Visit History</h1></center>
	</head>


	<body>
		<center><table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date Logged</th>
					<th><font color="red">Rating</font></th>
				</tr>
			</thead>
		</table></center>
		<center><form>
		
		<p><button id="viewPropertyDetails" type="button">View Property Details</button></p>
		<p><button id="backButton" type="button">Back</button></p>
		
		</form></center>

	</body>
</html>